.shopping-list-button {
	text-align: center;
	margin: {
		bottom: 15px;
	}
}

.hide-checked-items {
	display: block;
	margin: 25px;

	.form-switch {
		margin-top: 15px;
	}
}

.shopping-list {
	margin-bottom: 80px;
	width: 100%;

	&.unknown-department {

		.heading {
			background-color: #650909;
		}
	}

	.heading {
		background: #82ae46;
		padding: 15px 20px;
		color: #fff !important;
		font-weight: rgb(29, 29, 29);
		border-top: 1px solid #ebebeb;
		border-left: 1px solid #ebebeb;
		border-right: 1px solid #ebebeb;
		
		.col {
			display: flex;
			align-items: center;
		}
	}

	.list-row {
		overflow: hidden;
		border-right: 1px solid #ebebeb;
		border-left: 1px solid #ebebeb;

		&:last-child {
			border-bottom: 1px solid #ebebeb;
		}

		&.checked {
			.name-col {
				text-decoration: line-through;
			}

			.col {
				background-color: #e0fdb7;
			}
		}

		.col {
			vertical-align: middle;
			background-color: #f9f9f9;
			font-size: 16px;

			&.stores-col {
				padding: 15px 10px;
				input {
					margin: 10px 0px;
				}
			}

			&.check-col {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 15px 0px 15px 10px;
				input {
					margin: 0;
					font-size: 1.5em;
				}
			}

			&.name-col {
				display: flex;
				flex-direction: row;
				justify-content: left;
				align-items: flex-start;
				padding: 15px 0px 15px 15px;
			}

			&.count-col {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;

				@media only screen and (max-width: 992px) {
					.recipeNames {
						display: none;
					}
				}
			}

			.recipeNames {
				margin: {
					left: 15px;
				}
				font-size: 0.8em;
				font-style: italic;
			}
		}

		.col-border {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;

			@media only screen and (min-width: 992px) {
				.recipeNames {
					display: none;
				}
			}
		}


		.lowest-price {
			input {
				border: 4px solid #83d7e2;
			}
		}
	}
}

.shopping-list-extra-section {

	.add-item-button {
		width: 100%;
		height: 100%;
	}

	&.wish-list {
		.heading,
		.add-item-button {
			background-color: #ae4646;
		}
	}

	&.non-menu{
		.heading,
		.add-item-button {
			background-color: #46a8ae;
		}
	}

}


.missing-units {
	margin: 0px auto;
	background-color: #ffbcbc;
	color: black;
	border-radius: 1000px;
	padding: {
		right: 0.75em;
		left: 0.75em;
	};
	font-size: 0.9em;
}