.menu-nav-container {
	margin-bottom: 35px;
	text-align: center;

	.menu-buttons {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 25px;
	}

	.menu-nav {
		.week-button {
			margin: 0px 20px;
		}

		.week-number {
			font-size: 2em;
		}

		@media only screen and (max-width: 767px) {
			.week-number {
				font-size: 1.4em;
			}

			.week-button {
				padding: 5px 30px;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.non-mobile {
			display: none;
		}
	}
}


