.menu-card {
	.day-header {
		min-height: 50px;
		width: 100%;
		text-align: center;
		background-color: #82ae46;
		color: white;
		padding: 15px;

		&.today {
			background-color: goldenrod;
		}


		&.extra {
			background-color: #4f8fcb;
		}


		.day-settings {
			cursor: pointer;
			position: absolute;
			top: 10px;
			left: 25px;
			color: white;

			&:hover {
				opacity: 0.7;
				-webkit-animation: spin 2s linear infinite;
				-moz-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;

				@-moz-keyframes spin {
					100% {
						-moz-transform: rotate(360deg);
					}
				}
				@-webkit-keyframes spin {
					100% {
						-webkit-transform: rotate(360deg);
					}
				}
				@keyframes spin {
					100% {
						-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
					}
				}
				
			}
		}

		.note-settings {
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 25px;
			color: white;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.menu-footer {
		width: 100%;
		text-align: center;
		padding: 15px;

		&.prep {
			background-color: #5e70ac;
			color: white;

			.content {
				margin-left: -27px;
				color: #b7daff;
			}
		}

		&.audit {
			background-color: #0b3a46;
			color: rgb(140, 255, 245);

			table {
				width: 100%;

				td {
					padding: 5px;
					width: 33%;
				}

				.aged {
					color: rgb(243, 182, 125);
				}

				.new {
					color: rgb(255, 255, 119);
				}

			}

			.before-after {
				span {
					text-align: left;
					margin-right: 10px;
				}

				.label {
					font-weight: bold;
				}

				.positive {
					color:lightgreen;
				}
				
				.negative {
					color: lightcoral;
				}
			}
		}

		&.daily-notes {
			background-color: #b1a32b;
			color: white;

			.content {
				font-size: 0.9em;
				color: #fff9c5;
			}

			.menu-prep-icons {
				font-size: 12px;

				.preheat {
					margin: {
						right: 20px;
					}
				}

				.prep-time-label {
					margin: {
						left: 3px;
					}
				}

				&:not(:last-child) {
					margin: {
						bottom: 15px;
					}
				}
			}
		}

		.menu-footer-title {
			font-weight: bold;
			font-size: 1.1em;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		.prep-notes {
			margin: 10px 0px;
		}
	}
}

.new-menu-card {
	min-height: 250px;

	.menu-container {
		background-color: rgb(238, 255, 255);
		border: 2px dashed #c9c9c9;

		// Vertical and horizontal align
		display: flex;
		align-items: center;
		justify-content: center;
		
		button {
			padding: 20px;
		}
	}
}

.page-button-label {
	display: block;
}
.page-button-mobile-label {
	display: none;
}

@media only screen and (max-width: 767px) {
	.page-button-label {
		display: none;
	}
	.page-button-mobile-label {
		display: block;
		font-size: 2em;
	}
}

.menu---suggestion-list {
	margin-bottom: 30px;

	.suggestion-card {
		margin: {
			bottom: 10px;
		}
		width: 100%;
		background-color: #4171c9;
		color: white;
		padding: 15px;

		svg {
			color: yellow;
		}
		.name {
			margin: {
				left: 15px;
			}
		}
	}
}

.suggestion-expires {
	position: absolute;
	bottom: 15px;
	right: 20px;
    z-index: 10;
    background-color: #222222;
    color: #7fe398;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 5px;
    border: 1px solid #363636;

	.recent {
		color: rgb(255, 147, 147);
	}
}


.menu---list {

    display: flex;
    align-items: stretch; /* Makes all wrapper divs stretch to the height of the tallest child */
	
	.menu-card {
	    display: flex;

		.menu-container {
			display: flex;
			flex-direction: column; /* Arrange inner divs vertically */
			flex: 1; /* Makes the child fill the height of the wrapper */

			.v-product {
				display: flex;
				flex-direction: column; /* Arrange inner divs vertically */
				flex: 1; /* This makes the second inner div stretch to fill the available space */

				.text-center {
					flex: 1;
				}
			}
		}
	}
}



