.v-product {
	display: block;
	width: 100%;
	/* margin-bottom: 30px; */
	position: relative;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 1px solid #f0f0f0;
}

.v-product {
	border-color: #c9c9c9;
	position: relative;
}

@media (max-width: 991.98px) {
	.v-product {
		/* margin-bottom: 30px; */
	}
}
.v-product .img-prod {
	position: relative;
	display: block;
	overflow: hidden;
}
.v-product .img-prod .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	opacity: 0;
	background: #82ae46;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.v-product .img-prod span.v-status {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 2px 10px;
	font-weight: 300;
	font-size: 12px;
}
.v-product .img-prod img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.v-product .img-prod:hover img,
.v-product .img-prod:focus img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.v-product .img {
	display: block;
	height: 500px;
}
.v-product .icon {
	width: 60px;
	height: 60px;
	background: #fff;
	opacity: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.v-product .icon span {
	color: #000000;
}
.v-product:hover .icon {
	opacity: 1;
}
.v-product:hover .img-prod .overlay {
	opacity: 0;
}
.v-product .text {
	background: #fff;
	position: relative;
	width: 100%;
}
.v-product .text h3 {
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Poppins', Arial, sans-serif;
}
.v-product .text h3 a {
	color: #000000;
}
.v-product .text p.price {
	margin-bottom: 0;
	color: #82ae46;
	font-weight: 400;
}

.v-product.menu:hover .pricing {
	opacity: 0;
}
.v-product.menu:hover .text .bottom-area {
	opacity: 1;
}

.v-product .text p.price span.price-dc {
	color: #b3b3b3;
	font-size: 0.8em;
}

@media (max-width: 767.98px) {
	.d-flex .pricing {
		opacity: 0;
		height: 45px;
	}
}


.v-product .text p.price span.price-sale {
	color: #82ae46;
}
.v-product .text .pricing {
	width: 100%;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.v-product .text .bottom-area {
	z-index: 1000;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	opacity: 0;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media only screen and (max-width: 800px) {
	.v-product .text .bottom-area {
		opacity: 1;
	}
}

.v-product .text .bottom-area span {
	color: #fff;
	width: 100%;
	background: #82ae46;
	width: 40px;
	height: 40px;
	margin: 0 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.v-product .text .bottom-area span:hover {
	cursor: pointer;
}

.v-product .text .bottom-area span.skip-button {
	background: #ae4646;
}

.v-product .text .bottom-area span.skip-button:hover {
	background: #d68585;
}

.v-product .text .bottom-area span.made-button {
	background: #6e46ae;
}

.v-product .text .bottom-area span.made-button:hover {
	background: #a47ecf;
}

.v-product .text .bottom-area span.reroll-button {
	background: #222222;
}

.v-product .text .bottom-area span.reroll-button:hover {
	background: #727272;
}

.v-product .text .bottom-area span.leftovers-button {
	background: #2a2f6d;
}

.v-product .text .bottom-area span.leftovers-button:hover {
	background: #6065aa;
}

.v-product .text .bottom-area span:hover {
	background: #a0c074;
	cursor: pointer;
}

.v-product .text .bottom-area .m-auto {
	margin: 0 auto;
}
.v-product:hover {
	-webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
}

.v-product-details h3 {
	font-size: 30px;
	font-weight: 400;
}

.v-product-details .price span {
	font-size: 30px;
	color: #000000;
}

.v-product-details button i {
	color: #000000;
}

.v-product-details .quantity-left-minus {
	background: transparent;
	padding: 0 15px;
}

.v-product-details .quantity-right-plus {
	background: transparent;
	padding: 0 15px;
}

.v-product-details button,
.v-product-details .form-control {
	height: 40px !important;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	color: #82ae46;
	padding: 10px 20px;
	background: transparent !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	font-size: 14px;
}
.v-product-details button:hover,
.v-product-details button:focus,
.v-product-details .form-control:hover,
.v-product-details .form-control:focus {
	text-decoration: none;
	outline: none;
}

.v-product-details .form-group {
	position: relative;
}
.v-product-details .form-group .form-control {
	padding-right: 40px;
	color: #000000;
	background: transparent !important;
}
.v-product-details .form-group .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #4d4d4d;
}
.v-product-details .form-group .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: #4d4d4d;
}
.v-product-details .form-group .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: #4d4d4d;
}
.v-product-details .form-group .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: #4d4d4d;
}
.v-product-details .form-group .icon {
	position: absolute;
	top: 50%;
	right: 20px;
	font-size: 14px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #000000;
}
.v-product-details .form-group .icon span {
	color: #000000;
}
@media (max-width: 767.98px) {
	.v-product-details .form-group .icon {
		right: 10px;
	}
}
.v-product-details .form-group .select-wrap {
	position: relative;
}
.v-product-details .form-group .select-wrap select {
	font-size: 13px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
