.recipe-section {
	flex: 1 1 0px;
	box-sizing: border-box;
	display: grid;
	-webkit-box-pack: center;
	justify-content: center;
	gap: 80px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	padding-bottom: 24px;
	margin: auto;
	width: 100%;
}

.search-recipes-input {
	margin-bottom: 10px;
}

.recipe-section .card .inactive {
	opacity: 0.3;
}
