.new-arrival-tag {
	position: absolute;
	top: 5px;
	left: 5px;
    z-index: 10;
    background-color: #add9ff;
    color: #0f3c63;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 5px;
    border: 1px solid #0f3c63;
}
