.recipe-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;

	.recipe-title {
		margin-left: 20px;
		font-weight: bold;
	}

	.thumbnail {
		width: 80px;
		height: 52px;
		object-fit: cover;
	}

	&:nth-child(even) {
		background-color: rgb(236, 236, 236);
	}

	&:nth-child(odd) {
		background-color: lightblue;
	}

	&:hover {
		filter: brightness(1.2);
	}
}