.recipe-card {
	margin-bottom: 30px;
}
.card {
	color: #3d3d3d;
	width: 24em;
	background-color: #f3f3f3;
}

.card:hover {
	filter: brightness(1.1);
	cursor: pointer;
}

.recipe-title {
	font-weight: bold;
}

.recipe-description {
	font-style: italic;
	font-size: 0.9em;
}

.last-made {
	font-size: 0.75em;
	font-style: normal;
	padding-top: 10px;
	text-align: right;
}

.last-made.recent {
	color: darkred;
	font-weight: bold;
}

.button-bar {
	text-align: center;
	padding: 5px;
}

.thumbnail-container {
	position: relative;
}

.layer-label {
	font-weight: 800;
	font-family: 'Cairo', sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 10px;
	z-index: 1200;
	position: absolute;

	/* Center the text equally */
	top: 70px;
	left: 0;
	right: 0;
	margin: auto;
	display: inline-table;
	text-align: center;

	/* Wrap the custom skip message */
	max-width: 215px;
}

.skip-label {
	background-color: #ae4646;
	color: rgb(255, 240, 240);
}

.skipped-label {
	background-color: #ae4646;
	color: rgb(255, 240, 240);
}

.available-label {
	background-color: #82ae46;
	color: rgb(240, 255, 240);
}

.made-label {
	/* background-color: #465eae; */
	background-color: #7346ae;
	color: rgb(240, 245, 255);
}

.leftovers-label {
	background-color: #465eae;
	/* background-color: #ae9646; */
	color: rgb(240, 245, 255);
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0.6;

	/* Click through the layer to the thumbnail link below for edit pages */
	pointer-events: none;
}

.layer.skipped {
	background-color: #ffd0d0;
}

.layer.leftovers {
	/* background-color: #fcffd0; */
	background-color: #d0ecff;
}

.layer.made {
	/* background-color: #d0ecff; */
	background-color: #dad0ff;
}

.layer.available {
	background-color: #d8ffd0;
}

.card-body {
	position: relative;
}
.has-link {
	position: absolute;
	top: 0px;
	left: 5px;
	color: rgb(64, 101, 180);
}

.card-title span:after {
	content: '';
	display: block;
	margin: 5px auto 0px auto;
	width: 20%;
	border-bottom: solid 2px #5d9cd4;
}

.card-title.dessert span:after {
	border-color: rgb(255, 124, 185);
}

.card-title.appetizer span:after {
	border-color: rgb(110, 255, 122);
}

.card-title.sidedish span:after {
	border-color: rgb(185, 175, 27);
}

.card-title.undefined span:after {
	border-color: rgb(187, 187, 187);
}
