.tag-container {
	display: flex;
	align-content: center;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	&.ingredient-tag {
		height: 100%;
	}

	.tag {
		font-family: Cairo, sans-serif;
		font-weight: 800;
		
		margin-right: 10px;
		color: white;
	}
	
}


.suggestions {
	top: 60px;
	left: 0px;
	position: absolute;
	border: 1px solid #999;
	border-top-width: 0;
	list-style: none;
	margin-top: 0;
	padding-left: 0;
	width: calc(300px + 1rem);
	z-index: 150000;

	li {
		padding: 0.5rem;
		background-color: white;

		&:not(:last-of-type) {
			border-bottom: 1px solid #999;
		}
		
		&:hover {	
			background-color: #4b4b4b !important;
			color: #fae042;
			cursor: pointer;
			font-weight: 700;
		}
	}

	.suggestion-active {
		background-color: #008f68 !important;
		color: #fae042;
		cursor: pointer;
		font-weight: 700;
	}
}


$recipe-tag-color: rgb(148, 150, 24);

.tag-box-1 {
    display: flex;
    align-items: center;
    width: 100%; /* Make it take full width of parent */
    border-radius: 5px;
    overflow: hidden;
	margin: 0px 10px;

	&.recipe {
		.tag-name-1 {
			background-color: $recipe-tag-color;
		}
		.tag-remove-1 {
			background-color: $recipe-tag-color;
			filter: brightness(80%);
		}
	}

	&.ingredient {
		.tag-name-1 {
			background-color: var(--tag-color);
		}
		.tag-remove-1 {
			background-color: var(--tag-color);
			filter: brightness(80%);
		}
	}

	&.fridge {
		margin: {
			top: 10px;
			bottom: 10px;
		}

		.tag-name-1 {
			background-color: var(--tag-color);
			padding: 20px;
		}
		.tag-remove-1 {
			background-color: var(--tag-color);
			filter: brightness(80%);
			padding: 15px;
		}
	}

	.tag-remove-1 {
		&:hover {
			cursor: pointer;
			filter: brightness(120%);
		}
		font-size: 1.4em;
		
		color: white;
		padding: 0px 10px;
		cursor: pointer;

		& :before {
			content: "×";
			color: white;  // Ensures the "X" remains white
			font-size: 16px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.tag-name-1 {
		font-family: Cairo, sans-serif;
		font-weight: 800;
		
		color: white;
	
		background-color: lightblue;
		flex-grow: 1;  /* Allows it to expand */
		padding: 5px 10px;
	}
}