.change-recipe-container {
	margin: 10px 0px;
}

.change-recipe-container .recipes {
	height: 500px;
	overflow-y: scroll;
}

.swap-days-container {
	margin: 10px 0px 30px 0px;
}

.swap-days-container select {
	width: auto;
	display: inline-block;
}

.swap-days-container .site-btn {
	margin-left: 10px;
}
