.change-recipe-container {
	margin: 10px 0px;
	height: 500px;

	.recipes {
		height: 400px;
		overflow-y: scroll;
		align-content: flex-start;
	}
}

.remove-item-container {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.swap-days-container {
	margin: 10px 15px;

	select {
		width: auto;
		display: inline-block;
	}
}

.login-display {
	.profile-link {
		i {
			color: #7fad39;
		}

		.display-name {
			color: #7fad39;

			&:hover {
				color: #658a2f
			}
		}
	}

	.logout-link {
		color: black;

		&:hover {
			color: darkgray;
		}
	
	}
}

.swap-days-buttons {
	.row {
		>div {
			margin: 10px 0px;

			.mangia-btn {
				height: 100px;
				width: 100%;

				.recipe-name {
					color: #b1ffb1;
				}

				&.today {
					background: #3961ad;
					cursor: default;

					.recipe-name {
						color: lightblue;
					}
				}

				
			}
		}
	}

}

.modal-body  {
	.daily-notes {
		margin: {
			bottom: 25px;
		}
	}
}

.search-container {
	input {
		width: 60%;
		display: inline-block;
	}
}

