.rating-row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rating-container.edit {
	color: #82ae46;
	background-color: transparent;
}

.rating-container.edit svg:hover {
	filter: brightness(75%);
}

.rating-container svg {
	cursor: pointer;
}

.star.small {
	width: 25px;
}

.star.edit:hover {
	filter: brightness(150%);
}

.v-product .rating-container,
.thumbnail-container .rating-container {
	position: absolute;
	bottom: 5px;
	right: 5px;
	/* background-color: rgb(0, 0, 0, 0.25); */
}
