

.browse {
	position: relative;
}

.editInput {
	background-color: #ffffff;
}

.editLabel {
	margin: 30px 0px 15px 0px;
}

.editLabel .name {
	padding: 4px;
	border: 1px solid rgb(89, 133, 81);
	border-radius: 10px;
	background-color: rgb(141, 207, 128);
}
.rating-empty {
	filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.uncategorized select {
	background-color: rgb(255, 177, 177);
}

.unsaved-changes {
	background-color: #ffe9bf;
	;
	color: #333; 
	padding: 10px;
	font-weight: bold;
	position: fixed; 
	bottom: 15px;
	right: 15px; 
	width: 300px; 
	z-index: 1000;
	text-align: center;
	border: {
		color: #7e5200;
		width: 2px;
		style: solid;
	}
	
	a {
		color: #333; 
	}
}

.step-group {
	margin-bottom: 50px;
}
.step-group-delete-button {
	display: block;
	width: 100%;
	padding: 6px 10px;
}

.dirty-input {
	background-color: #ffe9bf;
}

.dirty-input:focus {
	background-color: #ffe9bf;
}

  
.edit-book-dropdown {
	vertical-align: top;
	display: inline-block;

	&.unused {
		background-color: rgb(255, 209, 209);
	}
}

.edit-book-button {
	display: inline-block;
}

.title h3 {
	display: inline-block;
	margin-right: 30px;
}

.recipe-name-section {
	position: relative;
}

.recipe-name-results {
	z-index: 3000;
	position: absolute;
	left: 0;
	margin-top: 5px;
	padding: 10px;
	background-color: aliceblue;
	max-height: 300px;
	overflow-y: scroll;
}

.recipe-name-results .recipe-name-option {
	padding: 10px;
	font-weight: bold;
	border-bottom: 1px solid #3b3b3b;
}

.form-floating.tag {
	display: inline-block;
}



.form-floating.recipe-ingredients textarea {
	height: auto;
}

.form-floating.recipe-steps textarea {
	height: auto;
}

.form-floating.recipe-notes textarea {
	height: auto;
}

.form-control:focus {
	border-color: #7fad39;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(30, 255, 0, 0.6);
}

body {
	background-image: url('/assets/images/kitchen_background.png');
	background-repeat: repeat;
}
.recipe-edit-container .form-floating input,
.recipe-edit-container .form-floating select,
.recipe-edit-container .form-floating textarea {
	font-size: 14px;
	color: #3b3b3b;
}

.recipe-edit-container .form-floating {
	margin: 10px 0px;
}

.recipe-edit-container .rating-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.recipe-edit-btn {
	display: flex;
}

.recipe-edit-btn button {
	flex: auto;
	margin: 10px;
}

.bottom-buttons {
	text-align: center;
}

.bottom-buttons button {
	margin: 10px 10px;
}

.book-list {
	background-color: #f9f9f9;
	padding: 20px;
}

.book-list ul {
	margin: 25px;
}

.book-list .recipe-edit-btn button {
	flex: auto;
	margin: 0;
}

.add-ingredient-button {
	padding: 1rem 0px;
	button {
		width: 100%;
		height: 100%;
	}
}

.ingredient-section {
	margin: 50px 0px;

	.ingredient-row {

		div {
			display: flex;
			align-items: center;

			.delete-ingredient-btn,
			.add-ingredient-btn {
				margin-right: 15px;
			}
		
			.ingredient-input {
				width: 100%;
				display: inline-block;
			}

			.missing-units input {
				border: 2px solid darkred;
			}
		}
	}
}

.thumbnail-preview {
	position: relative;

	img {
		height: 100px; 
	}

	&:hover {
		cursor: pointer;
	}

	.over {
		display: inline-block;
		z-index: 1000;
		position: absolute;
		height: 100px;
		width: 100%;
		opacity: 0;

		&:hover {
			opacity: 1;
		}

		.black-cover {
			display: inline-block;
			height: 100px;
			width: 100%;
			background-color: black;
			opacity: 0.6;
		}

		.trash-icon {
			z-index: 2000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgb(255, 158, 158);
		}

	}

	display: inline-block;

	margin: {
		top: 15px;
		right: 15px;
	}
}