
.audit-list {
    &.quick-audit-list {
        .picked {
            background-color: rgb(240, 240, 28);
        }
    }

    .row {
        color: rgb(46, 46, 46);
        
        &:nth-child(even) {
            background-color: #ececec;
        }

        &:nth-child(odd) {
            background-color: #dbdbdb;
        }

        &.picked {
            background-color: rgb(240, 240, 28);
        }

        &.never-made {
            background-color: rgb(255, 177, 177);
        }

        &.new-arrival {
            background-color: rgb(177, 255, 251);
        }

        .data {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .recipe-row {
        background-color: transparent;
    }
}