.migration-button {
    margin: 10px 0px;
}

.add-config-button {
    margin: {
        top: 20px;
        bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .edit-additional {
        margin : {
            top: 15px;
        }
    }

    .store-department {
        display: block;
        margin: {
            top: 15px;
        }
    }
}

.ingredient-list {
    .store-price {
        margin: {
            top: 15px;
        }
    }

    .lowest-price {
        input {
            border: 4px solid #83d7e2;
        }
    }
}

.checked {
    input,
    select {
        background-color: #e0fdb7;
    }
}